# --- Environment ---
yolov8_lpr_env/
__pycache__/
.DS_Store

# --- Models ---
temp_pruned_model.pt
yolov8m.pt
yolov8n.pt
*.pt

# --- Runs/Output ---
runs/detect/val*/
runs/detect/yolov8n_baseline/
runs/detect/yolov8n_kd/